/*variable file*/

@use "modules/variables" as *;

/*base style files*/

@use "modules/base" as *;

/*core files*/

@use "modules/landing" as *;
@use "modules/analytics" as *;
@use "modules/auth" as *;
@use "modules/error_404" as *;
@use "modules/error_500" as *;
@use "modules/dyn_header_dropdown" as *;
@use "modules/header" as *;
@use "modules/sidebar" as *;
@use "modules/footer" as *;
@use "modules/about-us" as *;
@use "modules/notification" as *;
@use "modules/cookie-consent" as *;

/*web files*/

@use "modules/dashboard" as *;
@use "modules/approval-team" as *;
@use "modules/web" as *;
@use "modules/teams" as *;
@use "modules/challenge" as *;
@use "modules/submission" as *;
@use "modules/challenge-create" as *;
@use "modules/my-challenge-all-submission" as *;
@use "modules/profile" as *;
@use "modules/edit-challenge" as *;
@use "modules/leaderboard" as *;
@use "modules/challenge-invitation" as *;

/*new css files*/

@use "core/grad-base" as *;
@use "modules/main-header" as *;
